{% extends 'index.html' %}
{%load static%}
  {% block head %}
  <title>Suraj | About</title>
  {% endblock %}
{% block content %}
 <section id="about">
    <div class="container">
      <div class="profileimg"><img src="{% static 'images/pp.jpeg' %}" alt="" /></div>
      <div class="about-content">
        <h4>Hey! I'm Suraj Raj Karingala.</h4>
        I'm an undergrad from IIT Guwahati and will be Graduating in 2022,with
        a major in Electronics and Communication Engineering.Curious, Determined and Hardworking - These words best
        describe me. I’ve always had a sense of motivation and passion driving me
        forward. Whether it’s exploring unique opportunities, learning
        additional skills, or meeting new people, I bring these values to
        every experience throughout my life on a personal and professional
        level. To learn more about me, keep exploring my site or reach out
        directly.
      </div>
    </div>
    <div class="container about-content" style="padding-top: 20px; padding-bottom: 20px;">
      As a lifelong learner, I’m constantly expanding my skill set through
      professional and personal experiences. Below you will find some of my
      key abilities.
      <div class="row">
        <div class="col-md-6 skills-bar">
          <p>Full Stack Web Development</p>
          <div class="progress">
            <div class="progress-bar" style="width: 85%;">85%</div>
          </div>
          <p>Data Science</p>
          <div class="progress">
            <div class="progress-bar" style="width: 60%;">60%</div>
          </div>
        </div>
        <div class="col-md-6 skills-bar">
          <p>Android App Development</p>
          <div class="progress">
            <div class="progress-bar" style="width: 80%;">80%</div>
          </div>
          <p>Machine Learning</p>
          <div class="progress">
            <div class="progress-bar" style="width: 30%;">30%</div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}