{% extends 'index.html' %}
{% load static%}
  {% block head %}
  <title>Suraj | Interests</title>
  {% endblock %}
{% block content %}
<section id="interests">
    <div class="wrapper">
      <div id="one" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-a"><i class="fas fa-2x fa-bookmark"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="two" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-b"><i class="fas fa-2x fa-book"></i></div>
          <div class="flip-box-back">
            <div class="container">
              <div class="row">
                <div class="col-4">Projects</div>
                <div class="col-4">Ongoing Work</div>
                <div class="col-4">Academics</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="three" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-c"><i class="fas fa-2x fa-futbol"></i></div>
          <div class="flip-box-back">
            <div class="container">
              <div class="row">
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/epl.png' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/fa1.png' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/ucl.svg' %}" alt=""></a></div>
              </div>
              <div class="row">
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/br.png' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/manu.png' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/fpl.jpeg' %}" alt=""></a></div>
              </div>
              <div class="row">
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/atp.jpg' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/f1.jpg' %}" alt=""></a></div>
                <div class="col-4"><a href="https://www.premierleague.com/"><img style="height:100px; width:100px;" src="{% static 'images/ipl.jpeg' %}" alt=""></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="four" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-d"><i class="fas fa-2x fa-calendar-alt"></i></div>
          <div class="flip-box-back">
            <div class="container">
              <div class="row">
                <div class="col-3"><a>Daily Time Table</a></div>
                <div class="col-3"><a>Contests Time Table</a></div>
                <div class="col-3"><a>Classes Time Table</a></div>
                <div class="col-3"><a>Weekends Time Table</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="five" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-e"><i class="fas fa-2x fa-atom"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="six" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-f"><i class="fas fa-2x fa-images"></i></div>
          <div class="flip-box-back">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
						</ol>
						<div class="carousel-inner">
							<div class="carousel-item active">
							<img class="d-block" src="{% static 'images/a.jpg' %}" alt="First slide" width="350px" height="200px">
							</div>
							<div class="carousel-item">
							<img class="d-block" src="{% static 'images/b.jpg' %}" alt="Second slide" width="350px" height="200px">
							</div>
							<div class="carousel-item">
							<img class="d-block" src="{% static 'images/c.jpg' %}" alt="Third slide" width="350px" height="200px">
							</div>
                          <div class="carousel-item">
							<img class="d-block" src="{% static 'images/d.jpg' %}" alt="Third slide" width="350px" height="200px">
							</div>
                          <div class="carousel-item">
							<img class="d-block" src="{% static 'images/e.jpg' %}" alt="Third slide" width="350px" height="200px">
							</div>
                          <div class="carousel-item">
							<img class="d-block" src="{% static 'images/f.jpg' %}" alt="Third slide" width="350px" height="200px">
							</div>
                          <div class="carousel-item">
							<img class="d-block" src="{% static 'images/g.jpg' %}" alt="Third slide" width="350px" height="200px">
							</div>
						</div>

					</div>
          </div>
        </div>
      </div>
      <div id="seven" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-g"><i class="fas fa-2x fa-play"></i></div>
          <div class="flip-box-back">
            <div class="container">
              <div class="row">
                <div class="col-4"><a>Songs i listen to!!</a></div>
                <div class="col-4"><a>Video Resources</a></div>
                <div class="col-4"><a>My Extra Talent xD</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="eight" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-h"><i class="fas fa-2x fa-download"></i></div>
          <div class="flip-box-back">
            <div class="container">
              <div class="row">
                <div class="col-4"><a>Coursera Certificates</a></div>
                <div class="col-4"><a>Extracurricular Certificates</a></div>
                <div class="col-4"><a>Personal Certificates</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}