{% extends 'index.html' %}
  {% block head %}
  <title>Suraj | Interests</title>
  {% endblock %}
{% block content %}
<section id="interests">
    <div class="wrapper">
      <div id="one" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-a"><i class="fas fa-2x fa-bookmark"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="two" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-b"><i class="fas fa-2x fa-book"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="three" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-c"><i class="fas fa-2x fa-futbol"></i></div>
          <div class="flip-box-back">
            <div>epl</div>
            <div>epl</div>
            <div>epl</div>
            <div>epl</div>
            Laliga
            Psg
          </div>
        </div>
      </div>
      <div id="four" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-d"><i class="fas fa-2x fa-calendar-alt"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="five" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-e"><i class="fas fa-2x fa-atom"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="six" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-f"><i class="fas fa-2x fa-images"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="seven" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-g"><i class="fas fa-2x fa-play"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
      <div id="eight" class="atts">
        <div class="flip-box-inner">
          <div class="flip-box-front-h"><i class="fas fa-2x fa-download"></i></div>
          <div class="flip-box-back">
            <h2>Back Side</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}