{% extends 'index.html' %}
{% load static%}
{% block content %}
<section id="work">
    <div class="container">
      <h2 class="sub-headers">Work</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="wi-logos">
            <a href=""><img src="{% static 'images/sail.jpg' %}" alt="" /></a>
          </div>
          <div class="wi-c-header">Executive</div>
          <div class="wi-c">Was part of an amazing team, which is a link between Alumni and the Student Community. Increased links with alumni, hosted
           The Alumni Meet, held Alumni talks and various other events. </div>
        </div>
        <div class="col-md-4">
          <div class="wi-logos">
            <a href=""><img src="{% static 'images/cepstrum.png' %}" alt="" /></a>
          </div>
          <div class="wi-c-header">Core Team Member</div>
          <div class="wi-c">The Student Body of EEE&ECE Department. Successfully addressed the concerns of the students of
            the department. Held Intern/Placement talks, Fresher's Party and Farewell.</div>
        </div>
        <div class="col-md-4">
          <div class="wi-logos-t">
            <a href=""><img src="{% static 'images/technothlon.png' %}" alt="" /></a>
          </div>
          <div class="wi-c-header">Hyderabad City Representative</div>
          <div class="wi-c">Technothlon-The Annual school Championship of Techniche. Successfully  gave presentations in various schools, motivated students
            and conducted the examination.</div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}